.App {
  text-align: center;
  background-color: cadetblue;
  margin: 40px;
  border-style: solid;
  border-color: darkblue;
  padding: 20px;
}

article {
  background-color: lightcyan;
  margin: 40px;
  border-style: dotted;
  border-color: lightblue;
  padding: 20px;
}

h1 {
  font-style: italic;
  font-family: "Comic Sans MS";
  font-size: 3em;
}

.axiosButton {
  margin: 40px;
  border-style: dotted;
  border-color: lightblue;
  padding: 20px;

}